$background: #ffffff;
$bgGray: #f5f8fb;
$text: #404040;
$primary: #F58F00;
$textPrimary: #e68600;
$grayLight: #bfbfbf;
$search: #F0F2F5;
$icon: #666666;
$itemSidebar: #00b300;
$btnFill: #FFAA33;
$btnOutline: #ffeacc;
$blackColor: #000000;
$box: #e6e6e6;
$camera: #e0e4eb;
$error: #e60000;
$success: #009933;
$chat: #ffca80;
$tableCell: #ff3333;