@import "mixins";
@import "color";

.modal-user-join {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-align-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.home-box {
  width: 100%;
  background-color: $bgGray;
  margin: 5%;
  //padding: 3em;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.home-box-1-left {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.box-icon {
  border-radius: 50%;
  padding: 20px;
  font-size: 36px;
  background-color: bisque;
}

.box-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  .box-datetime {
    margin-left: 10px;
    font-style: italic;
  }
}

.home-box-3-trans {
  width: 100%;
}

.home-box-2-right {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

.home-box-3-todos {
  height: max-content;
  margin-bottom: 20px;
}
.home-box-3-left {
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  height: calc(100% - 40px);
  background-color: #fff;
}

.carousel-title-todo {
  font-size: 22px !important;
  font-weight: 900 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Home.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  @include flexRowStyle(center, center);

  .text-user-join {
    font-size: 20px;
    font-weight: bold;
    color: $error;
  }

  .btn-user-join {
    @include flexRowStyle(center, center);
    flex-wrap: wrap;
    .btn-btn {
      width: 160px;
      margin: 10px;
    }
  }

  .home-go-package {
    @include flexColumnStyle(center, center);
    .btn-btn {
      margin: 10px;
    }
  }
}
